<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz!</title>
    <meta charset="utf-8" />
    <style>
      table {
        font-family: monospace;
        border-collapse: collapse;
      }
      th, td {
        padding: 8px;
      }
      thead > tr {
        background-color: #4CAF50;
        color: white;
        border: solid;
        border-bottom: 2px solid black;
      }
    </style>
  </head>
  <body>
    <form method="POST" action="add" id="add"></form>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Team</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
        <tr>
          <td>
            <form method="POST" action="remove">
              <input type="hidden" name="name" value="{{ player[0] }}">
              <input type="submit" value="-">
            </form>
          </td>
          <td>{{ player[0] }}</td>
          <td>
            <form method="POST" action="update">
              <input type="hidden" name="name" value="{{ player[0] }}">
              <input type="number" name="team" value="{{ player[1] }}" required>
              <input type="submit" value="Update">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td>
            <input form="add" type="submit" value="+">
          </td>
          <td>
            <input form="add" type="text" name="name" required>
          </td>
          <td>
            <input form="add" type="number" name="team" required>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
