<!DOCTYPE html>
<html lang="en">
  <head>
    <title>quiz|join</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>[{{ quizid }}] Join team {{ team }}</h1>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>#</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
        <tr>
          <td>
            <form method="POST">
              <input type="hidden" name="team" value="{{ team[0] }}">
              <input type="submit" value="Join">
            </form>
          </td>
          <td>{{ team[0] }}</td>
          <td>{{ team[2] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
