<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>quiz|play</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
  </head>
  <body>
    <div id="quiz">
      <h1>Team {{ team }} ({{ player }})</h1>
      <hr>
      <div id="questions"></div>
      <div id="eventlog"></div>
    </div>
    <template id="__template_question">
      <div class="question">
        <div>
          <div class="__number"></div>
        </div>
        <div class="__saved">
          &nbsp;&nbsp;
        </div>
        <div>
          <span class="__text"></span>
          <div class="__media"></div>
          <div>
            <input class="__guess" type="text">
            <button class="__submit"></button>
            <button class="__discard"></button>
          </div>
          <div class="__cursors"></div>
          <span class="__answer" hidden></span>
        </div>
      </div>
      <hr>
    </template>
    <template id="__template_eventlog">
      <div class="logentry">
        <span class="__timestamp"></span>
        <span class="__logentry"></span>
        <hr>
      </div>
    </template>
    <template id="__template_icon_submit">
      <svg width="2em" height="2em" fill="currentColor">
        <use href="{{ url_for('static', filename='icons.svg') }}#__icon_submit" />
      </svg>
    </template>
    <template id="__template_icon_arrows">
      <svg width="2em" height="2em" fill="currentColor">
        <use href="{{ url_for('static', filename='icons.svg') }}#__icon_arrows" />
      </svg>
    </template>
    <template id="__template_icon_discard">
      <svg width="2em" height="2em" fill="currentColor">
        <use href="{{ url_for('static', filename='icons.svg') }}#__icon_discard" />
      </svg>
    </template>
    <script src="{{ url_for('static', filename='constants.js') }}"></script>
    <script src="{{ url_for('static', filename='question.js') }}"></script>
    <script src="{{ url_for('static', filename='comms.js') }}"></script>
    <script src="{{ url_for('static', filename='dom.js') }}"></script>
    <script src="{{ url_for('static', filename='quiz.js') }}"></script>
    <script>
      let quiz = new Quiz("#questions", "#eventlog", 1000);
      quiz.poll();
    </script>
  </body>
</html>
