<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>quiz|{{ quizid }}|play</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
  </head>
  <body>
    <h1>Team {{ team }} ({{ player }})</h1>
    <div id="quiz"></div>
    <template id="template_question">
      <div class="question">
        <div class="question_number"></div>
        <div>
          <div class="question_text"></div>
          <div>
            <input class="question_guess">
          </div>
          <div class="question_answer"></div>
        </div>
      </div>
    </template>
    <script src="{{ url_for('static', filename='quiz.js') }}"></script>
  </body>
</html>
