<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>quiz|{{ quizid }}|play</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='play.css') }}">
  </head>
  <body>
    <h1>Team {{ team }} ({{ player }})</h1>
    <div id="questions"></div>
    <div id="eventlog"></div>
    <template id="__template_question">
      <div class="question">
        <div>
          <div class="__number"></div>
        </div>
        <div class="__saved">
          &nbsp;&nbsp;
        </div>
        <div>
          <span class="__text"></span>
          <div class="__media"></div>
          <div>
            <input class="__guess" type="text">
            <button class="__submit">Submit</button>
            <button class="__discard">Discard</button>
          </div>
          <div class="__cursors"></div>
          <div class="__answer" hidden></div>
        </div>
      </div>
    </template>
    <template id="__template_eventlog">
      <div class="logentry">
        <span class="__timestamp"></span>
        <span class="__logentry"></span>
      </div>
    </template>
    <script src="{{ url_for('static', filename='constants.js') }}"></script>
    <script src="{{ url_for('static', filename='question.js') }}"></script>
    <script src="{{ url_for('static', filename='comms.js') }}"></script>
    <script src="{{ url_for('static', filename='dom.js') }}"></script>
    <script src="{{ url_for('static', filename='quiz.js') }}"></script>
    <script>
      let quiz = new Quiz("#questions", "#eventlog", 1000);
      quiz.poll();
    </script>
  </body>
</html>
