<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>quiz|{{ quizid }}|questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
  </head>
  <body>
    <h1>Edit questions: {{ quizid }}</h1>
    <ul>
      <li><a href="{{ url_for('admin', quizid=quizid) }}">Admin home</a></li>
      <li><a href="{{ url_for('edit_teams', quizid=quizid) }}">Edit teams</a></li>
      <li><a href="{{ url_for('edit_questions', quizid=quizid) }}">Edit questions</a></li>
      <li><a href="{{ url_for('run', quizid=quizid) }}">Run quiz</a></li>
    </ul>
    <form method="POST" action="add" id="add"></form>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>#</th>
          <th>Question</th>
          <th>Answer</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
        <tr>
          <td>
            <form method="POST" action="remove">
              <input type="hidden" name="number" value="{{ question[0] }}">
              <input type="submit" value="-">
            </form>
          </td>
          <td>{{ question[0] }}</td>
          <td>
            <form method="POST" action="update-text">
              <input type="hidden" name="number" value="{{ question[0] }}">
              <input type="text" name="text" value="{{ question[2] }}" required>
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="update-answer">
              <input type="hidden" name="number" value="{{ question[0] }}">
              <input type="text" name="answer" value="{{ question[3] }}" required>
              <input type="submit" value="Update">
            </form>
          </td>
          <td>@@@</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td>
            <input form="add" type="submit" value="+">
          </td>
          <td>
          </td>
          <td>
            <input form="add" type="text" name="text" required>
          </td>
          <td>
            <input form="add" type="text" name="answer" required>
          </td>
          <td>
            <ul>
              <li>
                <input type="radio" id="text" name="contact" value="text" checked>
                <label for="text">text</label>
              </li>
              <li>
                <input type="radio" id="image" name="contact" value="image">
                <label for="image">image</label>
              </li>
              <li>
                <input type="radio" id="audio" name="contact" value="audio">
                <label for="audio">audio</label>
              </li>
              <li>
                <input type="radio" id="video" name="contact" value="video">
                <label for="video">video</label>
              </li>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
