<!DOCTYPE html>
<html lang="en">
  <head>
    <title>quiz|{{ quizid }}|run</title>
    <meta charset="utf-8" />
    <style>
      table {
        font-family: monospace;
        border-collapse: collapse;
      }
      th, td {
        padding: 8px;
      }
      thead > tr {
        background-color: #4CAF50;
        color: white;
        border: solid;
        border-bottom: 2px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Run quiz: {{ quizid }}</h1>
    <ul>
      <li>
        <a href="..">home</a>
      </li>
      <li>
        <a href="../teams">teams</a>
      </li>
      <li>
        <a href="../questions">questions</a>
      </li>
      <li>
        <a href="../run">run</a>
      </li>
    </ul>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Question</th>
          <th>Answer</th>
          <th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
        <tr>
          <td>{{ question[0] }}</td>
          <td>{{ question[2] }}</td>
          <td>{{ question[3] }}</td>
          <td>
            <form method="POST">
              <input type="hidden" name="number" value="{{ question[0] }}">
              {% if question[1] == 0 %}
              <input type="submit" formaction="{{ url_ask }}" value="ask">
              {% elif question[1] == 1 %}
              <input type="submit" formaction="{{ url_lock }}" value="lock">
              {% elif question[1] == 2 %}
              <input type="submit" formaction="{{ url_reveal }}" value="reveal">
              {% else %}
              --
              {% endif %}
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
