<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>quiz|{{ quizid }}|run</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
  </head>
  <body>
    <h1>Run quiz: {{ quizid }}</h1>
    <ul>
      <li><a href="{{ url_for('admin', quizid=quizid) }}">Admin home</a></li>
      <li><a href="{{ url_for('edit_teams', quizid=quizid) }}">Edit teams</a></li>
      <li><a href="{{ url_for('edit_questions', quizid=quizid) }}">Edit questions</a></li>
      <li><a href="{{ url_for('run', quizid=quizid) }}">Run quiz</a></li>
    </ul>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Question</th>
          <th>Answer</th>
          <th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
        <tr>
          <td>{{ question.number }}</td>
          <td>{{ question.text }}</td>
          <td>{{ question.answer }}</td>
          <td>
            <form method="POST">
              <input type="hidden" name="number" value="{{ question.number }}">
              {% if question.state.value == 0 %}
              <input
                formaction="{{ url_for('run_ask', quizid=quizid) }}"
                type="submit"
                value="ask">
              {% elif question.state.value == 1 %}
              <input
                formaction="{{ url_for('run_lock', quizid=quizid) }}"
                type="submit"
                value="lock">
              {% elif question.state.value == 2 %}
              <input
                formaction="{{ url_for('run_reveal', quizid=quizid) }}"
                type="submit"
                value="reveal">
              {% else %}
              --
              {% endif %}
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
