<!DOCTYPE html>
<html lang="en">
  <head>
    <title>quiz|{{ quizid }}|teams</title>
    <meta charset="utf-8" />
    <style>
      table {
        font-family: monospace;
        border-collapse: collapse;
      }
      th, td {
        padding: 8px;
      }
      thead > tr {
        background-color: #4CAF50;
        color: white;
        border: solid;
        border-bottom: 2px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Edit teams: {{ quizid }}</h1>
    <ul>
      <li>
        <a href="..">home</a>
      </li>
      <li>
        <a href="../teams">teams</a>
      </li>
      <li>
        <a href="../questions">questions</a>
      </li>
      <li>
        <a href="../run">run</a>
      </li>
    </ul>
    <form method="POST" action="add" id="add"></form>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>#</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
        <tr>
          <td>
            <form method="POST" action="remove">
              <input type="hidden" name="number" value="{{ team[0] }}">
              <input type="submit" value="-">
            </form>
          </td>
          <td>{{ team[0] }}</td>
          <td>
            <form method="POST" action="update">
              <input type="hidden" name="number" value="{{ team[0] }}">
              <input type="text" name="notes" value="{{ team[1] }}" required>
              <input type="submit" value="Update">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td>
            <input form="add" type="submit" value="+">
          </td>
          <td>
          </td>
          <td>
            <input form="add" type="text" name="notes" required>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
