<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>quiz|{{ quizid }}|teams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
  </head>
  <body>
    <h1>Edit teams: {{ quizid }}</h1>
    <ul>
      <li><a href="{{ url_for('admin', quizid=quizid) }}">Admin home</a></li>
      <li><a href="{{ url_for('edit_teams', quizid=quizid) }}">Edit teams</a></li>
      <li><a href="{{ url_for('edit_questions', quizid=quizid) }}">Edit questions</a></li>
      <li><a href="{{ url_for('run', quizid=quizid) }}">Run quiz</a></li>
    </ul>
    <form method="POST" action="add" id="add"></form>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>#</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
        <tr>
          <td>
            <form method="POST" action="remove">
              <input type="hidden" name="number" value="{{ team[0] }}">
              <input type="submit" value="-">
            </form>
          </td>
          <td>{{ team[0] }}</td>
          <td>
            <form method="POST" action="update">
              <input type="hidden" name="number" value="{{ team[0] }}">
              <input type="text" name="notes" value="{{ team[1] }}" required>
              <input type="submit" value="Update">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td>
            <input form="add" type="submit" value="+">
          </td>
          <td>
          </td>
          <td>
            <input form="add" type="text" name="notes" required>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
