body {
  font-family: helvetica;
}

div {
  margin: 8px 0px 8px 0px;
}

#quiz, html, body {
  height: 100%;
}

#questions {
  float: left;
  width: 70%;
  height: 100%;
  overflow: scroll;
}

#eventlog {
  float: left;
  width: 30%;
  height: 100%;
  overflow: scroll;
}

div.question {
  display: flex;
  border: 2px solid #82b74b;
  border-radius: 8px;
  margin: 0px 8px 8px 0px;
}

div.logentry {
  font-family: monospace;
  font-size: small;
  margin: 4px;
}

div.logentry.inactive {
  background-color: #F0F0F0;
}

div.__number {
  margin: 0px 8px 0px 8px;
}

div.__answer {
  border-width: 1px;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid #F49F0A;
  background-color: #F0F0F0;
}

div.__saved {
  margin: 8px 8px 8px 8px;
}

div.__saved.edited {
  background-color: orange;
}

div.__cursors {
  margin: 0px 0px 0px 0px;
  border: 0px;
  font-size: x-small;
}
