body {
  font-family: helvetica;
}

div {
  margin: 8px 0px 8px 0px;
}

#quiz, html, body {
  height: 100%;
}

hr {
  height: 2px;
  border-width: 0px;
  background-color: #000000;
}

#questions {
  float: left;
  width: 70%;
  height: 100%;
  overflow: scroll;
}

#questions input {
  height: 2em;
  width: 32em;
}

#eventlog {
  float: left;
  width: 30%;
  height: 100%;
  overflow: scroll;
}

#eventlog hr {
  height: 1px;
  border-width: 0px;
  background-color: #E0E0E0;
}

div.question {
  display: flex;
  margin: 0px 8px 8px 0px;
}

div.logentry {
  font-family: monospace;
  font-size: small;
  margin: 4px;
}

div.logentry.inactive {
  background-color: #F0F0F0;
}

div.__number {
  margin: 0px 8px 0px 8px;
}

span.__answer {
  font-weight: bold;
}

div.__saved {
  margin: 8px 8px 8px 8px;
}

div.__saved.edited {
  background-color: #ffc107;
}

div.__cursors {
  margin: 0px 0px 0px 0px;
  border: 0px;
  font-size: x-small;
}

button {
  height: 24px;
  width: 24px;
  margin: 0px;
  padding: 4px;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: .25rem;
  border: 0px solid transparent;
}

button:not(:disabled) {
  cursor: pointer;
}

button.__submit {
  color: white;
  background-color: #28a745;
}

button.__submit:disabled {
  color: white;
  background-color: #e2e3e5;
}

button.__discard {
  color: white;
  background-color: #dc3545;
}

button.__discard:disabled {
  color: white;
  background-color: #e2e3e5;
}

.spinning {
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite; /* Safari */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
